<section id="hero">
	<div class="text">
		<h1 class="title">ABOUT GODOLPHIN METRICS LLC</h1>
		<p class="sub-title">Godolphin Metrics LLC is pleased to provide the Bank Performance Analyzer as its first product.</p>	
	</div>	
</section>		

<section id="main" class="posts">
		<br>
		<p><b>A MESSAGE FROM OUR FOUNDER</b><p>
		<div class="aboutCircle"> <span><img class="aboutImg" src="/app/assets/avatars/fergus.jpg"></span></div>
		<div class="aboutText">
		<p>Fergus Gordon is a management consultant who founded Godolphin Metrics LLC because he was frustrated by his and similar professions continually abusing Microsoft Excel and PowerPoint. &nbsp&nbspHis ambition was simple...to provide our clients meaningful insights into the underlying drivers of company and industry performance using industrialized solutions.  &nbsp&nbspGodolphin Metrics LLC is pleased to provide the Bank Performance Analyzer as our first product in line with achieving this mission.
		<p>Our target users are Bankers, Mangement Consultants, Equity Analysts, Industry Researchers and members of the public with an interest in better understanding the drivers of financial performance.</p>
		<p>We welcome all input and feedback. &nbsp&nbspPlease do not hestiate to contact us at <a color="#0000EE" href="mailto:enquiries@godolphinmetrics.com">enquiries@godolphinmetrics.com</a> or +1 9177167672.</p>
		</div>	
</section>