<section id="hero" class="home">
	<div class="text">
		<h1 class="title">BANK PERFORMANCE ANALYZER</h1>
		<p class="sub-title">A powerful tool that allows you to quickly gain insights into the performance and potential of US Bank Holding Companies.</p>
	</div>

</section>

<section id="whatwedo" class="home">


	<div id="whatwedo_1" class="whatwedo">
		<h2 class="title">Overview</h2>
		<div></div>
		<div class="whatwedoimage">
			<img src="/app/assets/images/money.png">
		</div>
		<div class="whatwedotext">	
		
		<p class="sub-title">		
We believe banks should be managed primarily to <b>create value</b> for shareholders and this requires detailed understanding, planning and managing of performance relative to peers. <br><br>
		
We assist process by combining quarterly Bank Holding Company financial filings with the latest market data and analyst estimates to provide users instant access to generate 200+ performance metrics and make it easy for users to visualize trends, understand historical performance, assess a bank's performance outlook and simulate "what-if" outcomes.<br><br>

Click the blue buttons below to get started or hover over a button for an overview of that section's functionality.
		
		</div>
	</div>
	
	
	<div class="galleryholder">
	</div>
</section>

<section id="main" class="home">
    <div class="rowcellbank">
	<h2><!-- <img src="/app/assets/images/premium-icon.png"> --!> INDIVIDUAL BANK ANALYZER</h2>
	<p>Insights and analysis at the individual bank level.</p>
<!--
	<div class="divider">
		<img src="/app/assets/images/divider.jpg">
	</div>
--!>

	<div class="row">
		<div class="cell">
			<a href="/individual"><div class="circle light"><img title="Provides an overview of a selected bank's recent performance relative to peers across the 10 key metrics that we believe drive shareholder returns." src="/app/assets/images/pie-icon.png"></div></a>
			<h3><a href="/individual">Performance<br>Snapshot</a></h3>
		</div>

		<div class="cell">
			<a href="/individual/detailed-metrics"><div class="circle light"><img title="Provides access to more than 200 performance metrics sourced from stock market and regulatory filings for a selected bank.  All metrics display with relative performance to peers and additional charts and analysis for each metric is also available." src="/app/assets/images/bar-icon.png"></div></a>
			<h3><a href="/individual/detailed-metrics">Ratios &<br>Analysis</a></h3>
		</div>


		<div class="cell">
			<a href="/individual/outlook"><div class="circle light"><img title="Provides a snapshot of current expectations and outlook for future performance relative to peers for each listed US Bank Holding Company"  src="/app/assets/images/umbrella-icon.png"></div></a>
			<h3><a href="/individual/outlook">Estimates &<br> Outlook</a></h3>
		</div>

		<div class="cell">
			<a href="/individual/simulation"><div class="circle light"><img title="Provides the ability to simulate what would happen to shareholder returns given changes in underlying performance metrics."  src="/app/assets/images/graph-icon.png"></div></a>
			<h3><a href="/individual/simulation">What-if<br>simulator</a></h3>
		</div>
		
		<div class="cell">
			<a href="/perspectives"><div class="circle light"><img title="Access our latest thinking on a range of topics affecting the banking industry today" src="/app/assets/images/list-icon.png"></div></a>
			<h3><a href="/perspectives">Discussion &<br>Perspectives</a></h3>
		</div>
		
	</div>
	</div>
	
	<div class="rowcell">
	<h2>INDUSTRY ANALYZER</h2>
	<p>Insights and analysis at the industry segment level.</p>
<!--
	<div class="divider">
		<img src="/app/assets/images/divider.jpg">
	</div>
--!>	
	

	<div class="row">
		<div class="cell">
			<a href="/industry"><div class="circle"><img title="Provides an overview of a selected industry segment recent performance relative across the 10 key metrics that we believe drive shareholder returns." src="/app/assets/images/pie-icon.png"></div></a>
			<h3><a href="/industry">Performance<br>Snapshot</a></h3>
		</div>

		<div class="cell">
			<a href="/industry/detailed-metrics"><div class="circle"><img title="Provides access to more than 200 performance metrics sourced from stock market and regulatory filings for a selected industry segment.  All metrics display with relative performance to peers and additional charts and analysis for each metric is also available." src="/app/assets/images/bar-icon.png"></div></a>
			<h3><a href="/industry/detailed-metrics">Ratios &<br>Analysis</a></h3>
		</div>

		<div class="cell">
			<a href="/perspectives"><div class="circle"><img title="Access our latest thinking on a range of topics affecting the banking industry today" src="/app/assets/images/list-icon.png"></div></a>
			<h3><a href="/perspectives">Discussion &<br>Perspectives</a></h3>
		</div>
	</div>
	</div>




</section>

<section id="more">
	<section class="left" id="perspective-overview">
		<div class="content"></div>
	</section>
	<section class="right" id="signup-box">
		<div class="content"></div>
	</section>
</section>