<section id="main" class="individual">
    <section id="data">
        <h1>My Account</h1>
        <label>Name</label>
        <br>
        <p>{{full_name}}</p>

        <label>Title</label>
        <br>
        <p>{{title}}</p>

        <label>Company</label>
        <br>
        <p>{{company}}</p>

        <label>Status</label>
        <br>
        <p>Registered User / <span blklab-click="createSubscription" class="click">Become Premium</span></p>
    </section>
</section>
