
<section id="modal" class="individual">
    <section id="data">
        <h2>CREATE ACCOUNT</h2>
        <form method="post" blklab-submit="createAccount" id="form">
		<div class="registration">
        <p>
            <label for="full_name">full name</label>
            <input type="text" name="full_name" id="full_name" placeholder="Full Name" required="true"/>
         </p>
        <p>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="title" required="true"/>
         </p>
        <p>
            <label for="company">Company</label>
            <input type="text" name="company" id="company" placeholder="company" required="true"/>
         </p>
        <p>
            <label for="email">email</label>
            <input type="text" name="email" id="email" placeholder="email" required="true"/>
         </p>
         <p>
            <label for="password">password</label>
            <input type="password" name="password" id="password" placeholder="password" required="true"/>
         </p>
         <p>
            <input type="submit" value="sign up"/>
            <a href="/users/login" title="login">&nbspLogin | </a>
			<a href="/" title="home">Cancel</a>
         </p>
        <p id="error"></p>
        </div>
		
		<div class="registration regbackground">
			<h3 class="fontColor">Why you'll love the <i>Bank Performance Analyzer</i></h3>
			<img HR WIDTH="500px" src="/app/assets/images/Big-Data-Analytics2.png">
			<ul>
				<li class="spacing">Access over 200 performance metrics for more than 1200 U.S. banks</li>
				<li class="spacing">Assess a bank's recent performance relative to peers</li>
				<li class="spacing">Analyze market expectations and the outlook for future performance</li>
				<li class="spacing">Simulate shareholder returns changes</li>
				<li class="spacing">Access the latest thinking on the banking industry</li>
			</ul>
		
		</div>
		</form>
    </section>
</section>
