<div id="modal-background" blklab-click="close"></div>
<section id="modal" class="individual">
    <section id="data">
        <div id="close" blklab-click="close">X</div>
        <h2>Become a Premium Member</h2>
        <p>You will receive a 14 free day trial period.</p>
        <div class="demo-frame">
            <form action="/" method="post" id="cardForm" >
                <label class="hosted-fields--label" for="card-number">Card Number</label>
                <div id="card-number" class="hosted-field"></div>

                <label class="hosted-fields--label" for="expiration-date">Expiration Date</label>
                <div id="expiration-date" class="hosted-field"></div>

                <label class="hosted-fields--label" for="cvv">CVV</label>
                <div id="cvv" class="hosted-field"></div>

                <label class="hosted-fields--label" for="postal-code">Postal Code</label>
                <div id="postal-code" class="hosted-field"></div>

                <div class="button-container">
                <input type="submit" class="button button--small button--green" value="Purchase" id="submit"/>
                </div>
            </form>
        </div>

    </section>
</section>
