<section id="main" class="individual">
    <section id="data">
        <h2>RESET PASSWORD</h2>
        <form method="post" blklab-submit="resetAccount" id="form">
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="password" required="true"/>
             </p>
            <p>
                <input type="submit" name="signin" id="signin" value="Reset"/>
                <a href="/users/login" title="login">login</a>
            </p>

            <p id="error"></p>
        </form>
    </section>
</section>
