<section id="main" class="individual">
    <section id="data">
        <h2>SEND RESET</h2>
        <form method="post" blklab-submit="resetAccount" id="form">
            <p>
                <label for="email">email</label>
                <input type="text" name="email" id="email" placeholder="email" required="true"/>
            </p>
            <p>
                <input type="submit" value="Send Reset"/>
                <a href="/users/login" title="login">Login</a>
            </p>

            <p id="error"></p>
        </form>
    </section>
</section>
