		<div class="modal">
			<form blklab-submit="updateSegment" id="form" name="form">
		        <div class="row">
		            <h3>EDIT INDUSTRY SEGMENT:</h3>
		            <div class = "segmentcol">
		            <select blklab-change="changeSegmentEdit" id="editSegment-list">
		                {{#each data}}
		                    <option value="{{id}}" name="{{userId}}">{{segment}}</option>
		                {{/each}}
		            </select>
		            </div>
				</div>
				<div class="row">
					<input type="text" class="text" name="name" id="name" placeholder="Segment Name">
				</div>
				<div class="row">
					<div class="segmentcell">
						<select multiple style="height:300px; width: 100%;" id="companies-list">
							<option>
								<b>Select Companies</b>
							</option>
						</select>
					</div>
					<div class="segmentcellbutton">
						<div>
							<input type="button" id="add" value=">" blklab-click="add"> 
							<p></p>
							<input type="button" id="delete" value="<" blklab-click="delete">
						</div>
					</div>
					<div class="segmentcell">
						<select multiple style="height:300px; width: 100%;" id="added-companies-list">
							<option>
								<b>Companies Selected</b>
							</option>
						</select>
					</div>
				</div>
				<div class="row">
					<input type="submit" value="Save" id="save" >
					<input type="button" value="Cancel" blklab-click="cancel"> 
				</div>
			</form>
		</div>
